<!--<a routerLink="/timelines">Ứng dụng tính thời gian sống</a><br>-->
<!--<router-outlet></router-outlet>-->
<!--<a routerLink="/youtube">Youtube</a><br>-->
<!--<router-outlet></router-outlet>-->

<!--<a routerLink="/product/list">Danh sách sản phẩm</a>-->
<!--<router-outlet></router-outlet>-->

<!--<a routerLink="/product/list">Danh sách sản phẩm</a> | <a routerLink="/product/create">Tạo mới sản phẩm</a>-->
<!--<router-outlet></router-outlet>-->

<!--Bai tap Tu dien-->
<a routerLink="/dictionary">Danh sach tu vung</a>
<router-outlet></router-outlet>
