<form [formGroup]="editForm" (ngSubmit)="onSave()">
  <div class="form-group row">
    <input id="id" class="form-control " formControlName="id" type="hidden" required>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label " for="name">Name :</label>
    <div class="col-sm-10">
      <input id="name" class="form-control "  formControlName="nameCustomer" type="text"
             required>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label" for="dateOfBirth">Date of birth :</label>
    <div class="col-sm-10">
      <input id="dateOfBirth" class="form-control "  formControlName="dateOfBirth" type="email"
             required>
    </div>
  </div>
  <div class="form-group row ">
    <label class="col-sm-2 col-form-label" for="Gender">Gender :</label>
    <div class="col-sm-10">
      <input id="Gender" class="form-control "  formControlName="gender" type="text" required>
    </div>
  </div>
  <div class="form-group row ">
    <label class="col-sm-2 col-form-label" for="cmnd">CMND :</label>
    <div class="col-sm-10">
      <input id="cmnd" class="form-control "  formControlName="cmnd" type="text" required>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label" for="phone">Phone number :</label>
    <div class="col-sm-10">
      <input id="phone" class="form-control "  formControlName="phoneNumber" type="text"
             required>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label" for="email">Email :</label>
    <div class="col-sm-10">
      <input id="email" class="form-control "  formControlName="email" type="text" required>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label" for="customerType">Customer Type :</label>
    <div class="col-sm-10">
      <select id="customerType" formControlName="customerType" class="form-select" [compareWith]="compareFn">-->
        <option *ngFor="let customerType of customerTypes" [ngValue]="customerType">{{customerType.name}}</option>
      </select>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label" for="address">Address :</label>
    <div class="col-sm-10">
      <input id="address" class="form-control "  formControlName="address" type="text" required>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label"></label>
    <div class="col-sm-10">
      <button type="button" class="btn btn-primary" routerLink="/customer-list">Back</button>
      <button type="submit" class="btn btn-primary" >Save</button>
    </div>
  </div>
</form>
