<form [formGroup]="registerForm" (ngSubmit)="onSubmit()" novalidate>

  <p>
    <label for="email">Email </label>
    <input type="text" id="email" name="email" formControlName="email">
  </p>
  <div *ngIf="!email.valid && (email.dirty ||email.touched)">
    <div [hidden]="!email.errors.required">
      email is required
    </div>
    <div [hidden]="!email.errors.email">
      invalid email id
    </div>
  </div>

  <p>
    <label for="password">Password </label>
    <input type="text" id="password" name="email" formControlName="password">
  </p>
  <div *ngIf="!password.valid && (password.dirty ||password.touched)">
    <div [hidden]="!password.errors.required">
      password is required
    </div>
    <div [hidden]="!password.errors.email">
      invalid password id
    </div>
  </div>

  <p>
    <label for="confirmPassword">Confirm Password </label>
    <input type="text" id="confirmPassword" name="confirmPassword" formControlName="confirmPassword">
  </p>
  <div *ngIf="!confirmPassword.valid && (confirmPassword.dirty ||confirmPassword.touched)">
    <div [hidden]="!confirmPassword.errors.required">
      confirmPassword is required
    </div>
    <div [hidden]="!confirmPassword.errors.email">
      invalid confirmPassword id
    </div>
  </div>

  <p>
    <label for="country">Country </label>
    <select id="country" name="country" formControlName="country">
      <option [ngValue]="c.id" *ngFor="let c of countryList">
        {{c.name}}
      </option>
    </select>
  </p>
  <div *ngIf="!country.valid && (country.dirty ||country.touched)">
    <div [hidden]="!country.errors.required">
      country is required
    </div>
  </div>

  <p>
    <label for="age">Age </label>
    <input type="text" id="age" name="firstname" formControlName="age">
  </p>

  <div
    *ngIf="!age?.valid && (age?.dirty ||age?.touched)">
    <div [hidden]="!age.errors.required">
      Age is required
    </div>
    <div [hidden]="!age.errors.min">
      Min is 18
    </div>
  </div>

  <p>
    <label for="gender">Gender </label>
    <input type="radio" value="male" id="gender" name="gender" formControlName="gender"> Male
    <input type="radio" value="female" id="_gender" name="gender" formControlName="gender"> Female
  </p>
  <div *ngIf="!gender.valid && (gender.dirty ||gender.touched)">
    <div [hidden]="!gender.errors.required">
      Gender is required
    </div>
  </div>


  <p>
    <label for="phone">Phone </label>
    <input type="text" id="phone" name="email" formControlName="phone">
  </p>
  <div *ngIf="!phone.valid && (phone.dirty ||phone.touched)">
    <div [hidden]="!phone.errors.required">
      phone is required
    </div>
  </div>


  <p> </p>

  <p>
    <button type="submit" [disabled]="!registerForm.valid">Submit</button>
  </p>


</form>
